/* You can add global styles to this file, and also import other style files */

.tabular.attached.menu a.active {
    color: red;
}

.tab.attached.segment {
    display: none;
}

.tab.attached.segment.active {
    display: block;
}